<footer class="bg-main-light py-4   ">
    <div class="container">
        <h2 class="m-0 mb-1 h4 text-md-start text-center">Get The FreshCart App</h2>
        <p class="text-muted small text-md-start text-center">
            We Will Send You a Link, Open it on Your Phone to download the app
        </p>

        <!-- inputs design  -->
        <div class="d-flex align-items-center gap-3 text-nowrap">
            <input type="text" class="form-control" placeholder="Email" />
            <button class="btn-main">Share App Link</button>
        </div>

        <hr />

        <!-- footer payment Details Design  -->
        <div class="pay-details d-flex flex-md-row flex-column justify-content-between align-items-center">
            <div class="payment-partners d-flex flex-md-row align-items-center gap-2 mb-md-0 mb-2">
                <h3 class="h6 m-0 text-center">Payment partners</h3>
                <img src="./assets/images/amazon-pay.png" alt="" />
                <img src="./assets/images/American-Express-Color.png" alt="" />
                <img src="./assets/images/paypal.png" alt="" />
                <img src="./assets/images/mastercard.webp" alt="" />
            </div>

            <div class="stores d-flex flex-md-row align-items-center gap-2">
                <h3 class="h6 m-0 text-center">Get Deliveries with FreshCart</h3>
                <img src="./assets/images/get-google-play.png" alt="" />
                <img src="./assets/images/get-apple-store.png" alt="" />
            </div>
        </div>
    </div>
</footer>