<section class="py-4 bg-main-light p-4 rounded-4 my-4 mx-auto">
    <h1 class="h3 fw-bold mb-3 text-main">Login: </h1>
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="p-3">

        <div class="mb-3">
            <label for="email" class="mb-1">Email: </label>
            <input [ngClass]="{ 'is-invalid': loginForm.get('email')?.dirty && loginForm.get('email')?.errors ,
                'is-valid': loginForm.get('email')?.dirty && !loginForm.get('email')?.errors}" formControlName="email"
                type="email" class="form-control" placeholder="Enter your email" />

            @if(loginForm.get('email')?.touched || loginForm.get('email')?.dirty){
            <div>
                @if(loginForm.get('email')?.getError('required')){
                <small class="text-danger ms-2 mb-0"><i class="fa-solid fa-circle-exclamation me-2"></i>Email is
                    required.</small>
                }
                @else if (loginForm.get('email')?.getError('email')) {
                <small class="text-danger ms-2 mb-0"><i class="fa-solid fa-circle-exclamation me-2"></i>Enter a valid
                    email.</small>
                }
            </div>
            }
        </div>

        <div class="mb-3">
            <label for="password" class="mb-1">Password: </label>
            <input [ngClass]="{ 'is-invalid': loginForm.get('password')?.dirty && loginForm.get('password')?.errors ,
                'is-valid': loginForm.get('name')?.dirty && !loginForm.get('password')?.errors}"
                formControlName="password" type="password" class="form-control" placeholder="Enter your password" />

            @if(loginForm.get('password')?.touched && loginForm.get('password')?.dirty){
            <div>
                @if(loginForm.get('password')?.getError('required')){
                <small class="text-danger ms-2 mb-0"><i class="fa-solid fa-circle-exclamation me-2"></i>Password is
                    required.</small>
                }
                @else if(loginForm.get('password')?.getError('pattern')){
                <small class="text-danger ms-2 mb-0"><i class="fa-solid fa-circle-exclamation me-2"></i>Password must be
                    at least 6 characters.</small>
                }
            </div>
            }
        </div>

        <button [disabled]="loginForm.invalid || isLoading" type="submit"
            class="btn-main d-block ms-auto text-nowrap mt-4">Login
            @if (isLoading) {<span><i class="fas fa-spin fa-spinner ms-2"></i></span>}</button>
        <a class="login-link text-muted d-block text-end mt-2" routerLink="/forgotpass">Forgot Password?</a>
        <a class="login-link text-muted d-block text-end mt-2" routerLink="/register">Don't have an account?
            Register</a>
    </form>
</section>